

# ==============================================================================
# MACOS
# ==============================================================================

.DS_Store   # ignore hidden dot files
._*
.Spotlight-V100
.Trashes

# ==============================================================================
# Python
# ==============================================================================

*.pyc
venv

# ==============================================================================
# C++
# ==============================================================================

*.out

# ==============================================================================
# Node
# ==============================================================================

node_modules
