# =========================================================
# Welcome to the global git configuration file
# =========================================================

# Use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local

[credential]
	helper = osxkeychain

[core]
  # insanely beautiful diffs
  pager = diff-so-fancy | less --tabs=4 -r
	editor = /usr/local/bin/nvim
  ignorecase = false

[color]
  ui = true

[color "branch"]
	current = green

[color "diff"]
  meta = yellow
  commit = green
  frag = cyan
  old = red
  new = green
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red
  oldHighlight = magenta
  newNormal = green
  newHighlight = cyan

[color "status"]
  added = green
  changed = yellow
  untracked = cyan

[commit]
	template = ~/dotfiles/git/.gitcommitmessage

[help]
  autocorrect = 1

[alias]
	lg = log --color --graph --pretty=format:'%C(red bold)%h%Creset -%C(cyan bold)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = athomasoriginal
	email = thomasmattacchione@gmail.com
[init]
	defaultBranch = main
