# =========================================================
# Welcome to the global git configuration file
# =========================================================
[user]
    name = tkjone
    email = thomasmattacchione@gmail.com

[credential]
    helper = osxkeychain

[core]
    # insanely beautiful diffs
    pager = /usr/local/Cellar/git/2.9.3/share/git-core/contrib/diff-highlight/diff-highlight | diff-so-fancy | less -r
	editor = /usr/bin/vim

[color]
    ui = always

[color "diff"]
    meta = yellow bold
    commit = green bold
    frag = cyan
    old = red bold
    new = green bold
    whitespace = red reverse

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = "magenta bold"
    newNormal = "green bold"
    newHighlight = "blink cyan bold"

[color "status"]
    added = green
    changed = yellow
    untracked = cyan

[commit]
	template = ~/dotfiles/git/.gitcommitmessage

[help]
    autocorrect = 1
