# =========================================================
# Welcome to the global git configuration file
# =========================================================

# Use separate file for username / github token / etc
[include]
  path = ~/.gitconfig.local

[credential]
	helper = osxkeychain

[core]
  # insanely beautiful diffs
  pager = /usr/local/Cellar/git/2.21.0/share/git-core/contrib/diff-highlight/diff-highlight | diff-so-fancy | less -r
	editor = /usr/bin/vim

[color]
  ui = always

[color "branch"]
	current = green

[color "diff"]
  meta = yellow bold
  commit = green bold
  frag = cyan bold
  old = red bold
  new = green bold
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = magenta bold
  newNormal = green bold
  newHighlight = blink cyan bold

[color "status"]
  added = green
  changed = yellow
  untracked = cyan

[commit]
	template = ~/dotfiles/git/.gitcommitmessage

[help]
  autocorrect = 1

[alias]
	lg = log --color --graph --pretty=format:'%C(red bold)%h%Creset -%C(cyan bold)%d%Creset %s %C(green)(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
