# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# local git settings
git/.gitconfig.local

# private configs
.extras

# clojure stuffs
.clojure/.clj-kondo
.clojure/.cpcache
.clojure/.lsp

# atom
atom/packages/
atom/storage/
atom/recovery/
