;; user level deps.edn
;; -----------------------------------------------------------------------------
;; reference https://github.com/seancorfield/dot-clojure
{:aliases
 {; socket - start a clojure socket repl
  ; ----------------------------------------------------------------------------
  ; usage:   clj -A:socket
  :socket
  {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}


  ; deps - run a repl with access to tools.deps
  ; ----------------------------------------------------------------------------
  ; usage:   clj -A:deps
  ; example: (require '[clojure.tools.deps.alpha.repl :refer [add-lib]])
  :deps
  {:extra-deps {org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha"
                                              :sha     "0c2b1db2d0cd95c1b8a337086ec9af11da721a53"}}}


  ; create-reagent-app - create a new clojurescript/reagent app
  ; ----------------------------------------------------------------------------
  ; usage:   clj -A:create-reagent-app <org-name>/<ns-name>
  :create-reagent-app
  {:extra-deps {seancorfield/clj-new {:mvn/version "0.9.0"}}
   :main-opts  ["-m" "clj-new.create" "https://github.com/tkjone/create-reagent-app@e2968406a7933788e4d57a863e9f7c2dd1cd77c6"]}}}


  ; cljs - run a clojurescript repl
  ; ----------------------------------------------------------------------------
  ; TODO Add this alias
