;; user level deps.edn
;; -----------------------------------------------------------------------------
;; reference https://github.com/seancorfield/dot-clojure
{:aliases
 {;; socket - start a clojure socket repl
  ;; ---------------------------------------------------------------------------
  ;; usage:   clj -M:socket
  :socket
  {:jvm-opts ["-Dclojure.server.repl={:port,50505,:accept,clojure.core.server/repl}"]}

  :1.10.1
  {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}

  :async
  {:extra-deps {org.clojure/core.async {:mvn/version "1.3.610"}}}

  :rebel
  {:extra-deps {com.bhauman/rebel-readline {:mvn/version "RELEASE"}}
   :main-opts  ["-e" "(require,'[clojure.core.async,:as,a])"
                "-m" "rebel-readline.main"]}


  ;; deps - run a repl with access to tools.deps
  ;; ---------------------------------------------------------------------------
  ;; usage:   clj -M:deps
  ;; example: (require '[clojure.tools.deps.alpha.repl :refer [add-lib]])
  :tda
  {:extra-deps {org.clojure/tools.deps.alpha {:git/url "https://github.com/clojure/tools.deps.alpha"}}}
                                             ;:sha     "5bfcef59a2c92102b7ff491542e143d481083556"}}}


  ;; create app - create a new clojurescript/reagent app
  ;; ---------------------------------------------------------------------------
  ;; usage: clj -X:new :name nike/nike-app
  :new
  {:extra-deps {com.github.seancorfield/clj-new {:mvn/version "1.2.399"}}
   :exec-fn    clj-new/create
   :exec-args  {:template "https://github.com/athomasoriginal/create-reagent-app@d844d4119f81ad15757a975655992704dedf3046"}}}}
