packages: [
  "auto-indent"
  "busy-signal"
  "chlorine"
  "copy-path"
  "docblockr"
  "emmet"
  "github-atom-light-syntax"
  "ink"
  "intentions"
  "language-babel"
  "language-docker"
  "language-markdown"
  "language-nunjucks"
  "language-viml"
  "linter"
  "linter-pylama"
  "linter-ui-default"
  "markdown-preview-plus"
  "markdown-writer"
  "multi-cursor"
  "open-in-browser"
  "package-sync"
  "parinfer"
  "prettier-atom"
  "rainbow-delimiters"
  "seti-ui"
  "vim-mode-plus"
  "Visual-Studio-2015-Dark-Theme"
  "wordcount"
  "zprint-atom"
]
